{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": "defaults"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}