@media (prefers-color-scheme: dark) {
    body {
        color: #FFF;
        background-color: #292A2D;
    }

    hr {
        background-color: #3D4043;
    }

    .form-control, .custom-file-label {
        background-color: #4A4A4F;
        border-color: #38383D;
        color: #FFF;
        opacity: 1;
    }

    .custom-file-label {
        color: #B1B1B3 !important;
    }

    .form-control:focus, .custom-file-label:focus {
        background-color: #4A4A4F;
        border-color: #0A84FF;
        color: #FFF !important;
    }

    .custom-file-label:focus {
        color: #B1B1B3 !important;
    }

    .form-control::-moz-placeholder {
        color: #B1B1B3 !important;
    }

    .form-control::placeholder {
        color: #B1B1B3 !important;
    }

    .progress {
        background-color: #F2F2F2;
    }
}
